.container {
    width: 65%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #338855;
}

h1 {
    margin: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #282828;
    font-size: 8rem;
    color: #289787;
}

p {
    font-size: rem;
    color: #289787;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 20%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}